.diagramsBodySmart {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
}

.diagramsBody {
    display: flex;
    justify-content: space-around;
}

.managePart button {
    transition: .5s; /* Время эффекта */
    margin: 3rem 2rem;
    font-size: 2rem;
    padding: 0 1rem;
    background-color:  #e7e7e7;
    cursor: pointer;
    border: .1rem solid #2c343c;
    border-radius: 1rem 0 1rem 0;
    color: #2c343c;
}

.managePart button:hover {
    background-color: #2c343c;
    border: .1rem solid  #e7e7e7;
    color:  #e7e7e7;
}

.managePart .active {
    background-color:  #e7e7e7;
    border: .1rem solid #a4372c;
    color: #a4372c;
}
